.article-detail {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: white;
    overflow: hidden;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.test{
    margin: 0 5rem ;
}